#!/usr/bin/make -f

export PKG_CONFIG_PATH=/root/qte/qtmoko/dist/pkgconfig-qtmoko/
export PATH=/usr/lib/ccache:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/root/qte/build/sdk/qtopiacore/host/bin

build:

clean:
	rm -rf debian/tmp
	rm -f debian/files

binary: build
	export
	./autogen.sh
	./configure --prefix=/opt/qtmoko
	make
	make install
	mkdir -p /opt/qtmoko/apps/Applications/
	cp navit.desktop /opt/qtmoko/apps/Applications/
	mkdir -p /opt/qtmoko/bin
	cp navit.sh /opt/qtmoko/bin
	mkdir -p /opt/qtmoko/pics/navit
	cp navit.png /opt/qtmoko/pics/navit
	mkdir -p debian/tmp/opt/qtmoko
	cp -r /opt/qtmoko/* debian/tmp/opt/qtmoko
	mkdir -p debian/tmp/home/root/.navit
	cp navit/navit.xml debian/tmp/home/root/.navit
	install -d debian/tmp/DEBIAN
	dpkg-gencontrol
	dh_installdeb -P debian/tmp
	chown -R root:root debian/tmp/opt
	chmod -R u+w,go=rX debian/tmp/opt
	dpkg --build debian/tmp ..
